<a href="https://colab.research.google.com/github/JIN-HAN2025/AICE-python-practice/blob/main/01_20251227_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello world')

hello world

In [2]:
age = 23
print(age)

23

In [3]:
print('age')

age

In [4]:
name ='gildong'
print(name)

gildong

In [5]:
address = input('주소?')
print(address)

주소?인천
인천

In [7]:
#리스트(대괄호 [ , , ]) 하나의 방이 여러층
ages =[17, 23, 40]
print(ages)
print(ages[0])

[17, 23, 40]
17

In [9]:
#딕셔너리{..}하나의 층에 방이 여러개 있는것
#딕셔너리 = 한 행(열이름, 값)
person = {'name':'홍길동',
          'age':43}
print(person)
print(person['name'])

{'name': '홍길동', 'age': 43}
홍길동

In [12]:
#한 사람의 정보를 키보드로 입력받는다.
#이름, 성별
#한 사람의 정보를 딕셔너리 형태로 만들어본다

name1 = input('이름?')
gender1 = input('성별?')
person1 = {'이름':name1,'성별':gender1}
print(person1)

이름?고연경
성별?여자
{'이름': '고연경', '성별': '여자'}

In [14]:
name2 = input('이름?')
gender2 = input('성별?')
person2 = {'이름':name2,'성별':gender2}
print(person2)

이름?김태민
성별?남자
{'이름': '김태민', '성별': '남자'}

In [16]:
# 딕셔저기 = 한행
# 리스트 = 여러행
persons = [person1,person2]
print(persons)

[{'이름': '고연경', '성별': '여자'}, {'이름': '김태민', '성별': '남자'}]

In [19]:
# 퀴즈 , 첫번째 사람의 이름
print(persons[0]['이름'])

new_person1 = persons[0]
print(new_person1['이름'])

고연경
고연경

In [23]:
#if문
# if 참거짓을 판별할 수 있는 조건식:
# if 변수  > 5 :
#비교연산자
# > , >= , < , <=
# 같다 ==
# 같지않다 !=
# if age == 5:
#   참일때 실행할 구문1
#   참일때 실행할 구문2
# else:
#   거짓일때 실행할 구문1
#   거짓일때 실행할 구문2

my_age = 10
if my_age > 20:
  print('스무살 초과')
else:
  print('스무살 이하')

스무살 이하

In [25]:
my_age = 10
if my_age > 20:
  print('스무살 초과')
  print('오류확인')
else:
  print('스무살 이하')

스무살 이하

In [26]:
my_age =23
my_gender = '남'

if my_age >= 23 and my_gender =='남':
  print('군필여부확인')
else:
  print('군필여부 불필요')

군필여부확인

In [27]:
#for문
ages = [17, 23 ,30]

for  age in ages:
  print(age)

17
23
30

In [31]:
n = range(3)  #[0,1,2]
persons=[]    #빈 리스트
for _ in n:
 name = input('이름?')
 gender= input('성별?')
 person={'이름:':name, '성별':gender}
 persons.append(person)
 print(persons)

이름?고연우
성별?여자
[{'이름:': '고연우', '성별': '여자'}]
이름?고연경
성별?남자
[{'이름:': '고연우', '성별': '여자'}, {'이름:': '고연경', '성별': '남자'}]
이름?고현우
성별?여자
[{'이름:': '고연우', '성별': '여자'}, {'이름:': '고연경', '성별': '남자'}, {'이름:': '고현우', '성별': '여자'}]